<!DOCTYPE html>
<html>
<head>
	<title>Events - Twitter</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
	<script type="text/javascript" src="bootstrap.min.js"></script>
	<script type="text/javascript" src="jquery.js"></script>
</head>
<body>
	<div class="container">
		<h1>PLUG XYZ</h1>
		<p>Hello User</p>
		<! DOCTYPE html>
		
	</div>
	
</body>
</html>

